aiosqlite==0.15.0
beautifulsoup4==4.9.1
BiblioPixel==3.4.45
BiblioPixelAnimations==3.20190410.153508
BiblioPixelTriggers==1.0.2
certifi==2018.8.24
chardet==3.0.4
click==7.1.2
croniter==0.3.34
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.7
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.2
loady==1.8.10
MarkupSafe==1.1.1
natsort==7.0.1
numpy==1.19.0
PyGObject==3.30.4
pyserial==3.4
python-apt==1.8.4.1
python-dateutil==2.8.1
python-periphery==2.1.0
PyYAML==5.3.1
requests==2.21.0
RPi.GPIO==0.7.0
six==1.12.0
smmap==3.0.4
soupsieve==2.0.1
ssh-import-id==5.7
typing-extensions==3.7.4.2
urllib3==1.24.1
websockets==8.1
Werkzeug==1.0.1
